.DS_Store

node_modules/

.env
.env.*

# Node/TypeScript
node_modules/
dist/
build/

# Circom/snarkjs artifacts
circuits/build/
circuits/*.r1cs
circuits/*.wasm
circuits/*.zkey
circuits/*.ptau
circuits/verification_key.json

# Outputs
out/*
!out/.gitkeep